[project]
	description = Python API to Belkin WeMo devices
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jim Bledsoe (JimBledsoe)
[access "refs/for/refs/*"]
	read = group user/Jim Bledsoe (JimBledsoe)
	push = group user/Jim Bledsoe (JimBledsoe)
	label-Code-Review = -2..+2 group user/Jim Bledsoe (JimBledsoe)
	label-Verified = -1..+1 group user/Jim Bledsoe (JimBledsoe)
	rebase = group user/Jim Bledsoe (JimBledsoe)
	removeReviewer = group user/Jim Bledsoe (JimBledsoe)
	submit = group user/Jim Bledsoe (JimBledsoe)
[access "refs/heads/*"]
	read = group user/Jim Bledsoe (JimBledsoe)
	create = group user/Jim Bledsoe (JimBledsoe)
	push = +force group user/Jim Bledsoe (JimBledsoe)
	pushMerge = group user/Jim Bledsoe (JimBledsoe)
[access "refs/tags/*"]
	push = group user/Jim Bledsoe (JimBledsoe)
	push = +force group user/Jim Bledsoe (JimBledsoe)
